.vercel
.env*.local
.env
.venv/
venv/
__pycache__/
*.pyc
cloudflared.exe
rockyou.txt
tunnel.log
tunnel.txt
pinggy.txt
secret.txt
test_wordlist.txt
uploads/
passcrack_uploads/
passcrack_jobs/
.vscode/
